<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="contentPersona">
        <input type="hidden" name="Personas" th:field="${persona.idPersona}">
        <h4 class="header-title">DATOS DE PERSONAS</h4>
       
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Nombre</label>
                <input type="text" class="form-control" name="personas"
                    th:field="${persona.nombre_persona}" placeholder="Introduce el nombre" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Ap. Paterno</label>
                <input type="text" class="form-control" name="personas" id="validationCustom02" th:field="${persona.apellido_paterno}"
                    placeholder="Apellido Paterno" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Ap. Materno</label>
                <input type="text" class="form-control" name="personas" id="validationCustom03"
                    th:field="${persona.apellido_materno}" placeholder="Apellido Materno" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Carnet de Identidad</label>
                <input type="text" class="form-control" name="personas" id="validationCustom04" th:field="${persona.ci}"
                    placeholder="Carnet de Identidad" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Numero de celular</label>
                <input type="number" class="form-control" name="personas" id="validationCustom04" th:field="${persona.numero_celular}"
                    placeholder="Numero de celular" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Dirección</label>
                <input type="text" class="form-control" name="personas" id="validationCustom04" th:field="${persona.direccion}"
                    placeholder="Introdusca la Dirección" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Correo Electronico</label>
                <input type="email" class="form-control" name="personas" id="validationCustom04" th:field="${persona.email}"
                    placeholder="Introducir el Correo Electronico" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


        </div>
    </div>

    <!-- ---------------------------------------------------------------------------------------------- -->
    <div th:fragment="contentProducto">
        <input type="hidden" name="idProducto" th:field="${producto.id_producto}">
        <h4 class="header-title">DATOS DE PRODUCTOS</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="nombreProducto">Nombre Producto</label>
                <input type="text" class="form-control" name="nombreProducto" th:field="${producto.nombre_producto}" placeholder="Nombre Producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="codigoProducto">Codigo Producto</label>
                <input type="text" class="form-control" name="codigoProducto" id="codigoProducto" th:field="${producto.codigo_producto}" placeholder="Codigo Producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="stockProducto">Estoque Producto</label>
                <input type="text" class="form-control" name="stockProducto" id="stockProducto" th:field="${producto.stock_producto}" placeholder="stock producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="cantidadCaja">Cantidad Cajas</label>
                <input type="text" class="form-control" name="cantidadCaja" id="cantidadCaja" th:field="${producto.cantidad_caja}" placeholder="cantidad caja" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="proveedor">Proveedor</label>
                <select id="proveedor" name="proveedor" class="form-control" th:field="${producto.proveedor.id_proveedor}" required>
                    <option value="" disabled selected>Seleccione un proveedor</option>
                    <option th:each="proveedor : ${proveedores}" th:value="${proveedor.id_proveedor}" th:text="${proveedor.nombre_proveedor}"></option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


        </div>
    </div>
    
<!-- ---------------------------------------------------------------------------------------------- -->
<div th:fragment="contentRecepcionProducto">
    <input type="hidden" name="id_registro" th:field="${recepcion_producto.id_registro}">
    <h4 class="header-title">DATOS DE RECEPCIÓN</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreProducto">Precio producto</label>
            <input type="number" class="form-control" name="nombreProducto" th:field="${recepcion_producto.precio_producto}" placeholder="Cantidad caja" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="codigoProducto">Cantidad caja</label>
            <input type="number" class="form-control" name="codigoProducto" id="codigoProducto" th:field="${recepcion_producto.cantidad_caja}" placeholder="Cantidad caja" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="stockProducto">Precio venta</label>
            <input type="number" class="form-control" name="stockProducto" id="stockProducto" th:field="${recepcion_producto.precio_venta}" placeholder="Precio venta" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="proveedor">Lote</label>
            <select id="proveedor" name="proveedor" class="form-control" th:field="${recepcion_producto.lote.id_lote}" required>
                <option disabled selected>Seleccione un Lote</option>
                <option th:each="lots : ${lotes}" th:value="${lots.id_lote}" th:text="${lots.cantidad_Lote}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>


    </div>
</div>
   <!-- ---------------------------------------------------------------------------------------------- -->
   <div th:fragment="contentBiene">
    <input type="hidden" name="biene" th:field="${biene.id_biene}">
    <h4 class="header-title">DATOS DE BIENE</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreProducto">Codigo</label>
            <input type="text" class="form-control" name="codigo" th:field="${biene.codigo_biene}" placeholder="Codigo" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="codigoProducto">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre_biene" th:field="${biene.nombre_biene}" placeholder="Nombre" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="stockProducto">Descripción</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion" th:field="${biene.descripcion_biene}" placeholder="Descripcion" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <!-- <div class="col-md-6 mb-3">
            <label for="persona">Eleccionar Persona</label>
            <select id="persona" name="persona" class="form-control" th:field="${biene.persona.id_persona}" required>
                <option disabled selected>Seleccione un proveedor</option>
                <option th:each="pers : ${personas}" th:value="${pers.id_persona}" th:text="${pers.nombre_persona}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div> -->

    </div>
</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<div th:fragment="contentCargo">
    <input type="hidden" name="id_cargo" th:field="${cargo.id_cargo}">
    <h4 class="header-title">DATOS DE CARGO</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreProducto">Nombre</label>
            <input type="text" class="form-control" name="nombreCargo" th:field="${cargo.nombre_cargo}" placeholder="Nombre del cargo" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>
</div>


     <!-- ---------------------------------------------------------------------------------------------- -->
     <div th:fragment="contentMoneda">
        <input type="hidden" name="id_moneda" th:field="${moneda.id_moneda}">
        <h4 class="header-title">DATOS DE MONEDAS</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="nombreMoneda">Nombre Moneda</label>
                <input type="text" class="form-control" name="nombreMoneda" th:field="${moneda.nombre_moneda}" placeholder="Nombre Moneda" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="simboloMoneda">Símbolo de la Moneda</label>
                <input type="text" class="form-control" name="simboloMoneda" id="simboloMoneda" th:field="${moneda.simbolo_moneda}" placeholder="Simbolo Moneda, ej:US$, R$, Bs" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="valorMoneda">Valor Moneda</label>
                <input type="text" class="form-control" name="valorMoneda" id="valorMoneda" th:field="${moneda.valor_moneda}" placeholder="Valor de la Moneda" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div>

       <!-- ---------------------------------------------------------------------------------------------- -->
       <div th:fragment="contentPago">
        <input type="hidden" name="id_pago" th:field="${pago.id_pago}">
        <h4 class="header-title">DATOS DE PAGO</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="tipoPago">Tipo de Pago</label>
                <input type="text" class="form-control" name="tipoPago" th:field="${pago.Tipo_pago}" placeholder="Ej: A crédito, contado..." required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
             <div class="col-md-4 mb-3">
            <label for="venta">Venta Asociada</label>
            <select id="venta" name="venta" class="form-control" th:field="${pago.venta.id_venta}" required>
                <option value="" disabled selected>Seleccione una Venta</option>
                <option th:each="venta : ${ventas}" th:value="${venta.id_venta}" th:text="${venta.total_venta}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="moneda">Moneda Aplicada</label>
            <select id="moneda" name="moneda" class="form-control" th:field="${pago.moneda.id_moneda}" required>
                <option value="" disabled selected>Seleccione la Moneda</option>
                <option th:each="moneda : ${monedas}" th:value="${moneda.id_moneda}" th:text="${moneda.valor_moneda}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        </div>
    </div>
    
<!-- ---------------------------------------------------------------------------------------------- -->
<div th:replace="~{conten :: contentLote}">
    <div th:fragment="contentLote">
        <input type="hidden" name="lote" th:field="${lote.id_lote}">
        <h4 class="header-title">DATOS DE LOTE</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cantidadLote">Cantidad Lote</label>
                <input type="text" class="form-control" name="cantidadLote" th:field="${lote.cantidad_Lote}" placeholder="Cantidad Lote" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="fechaIngreso">Fecha de Ingreso</label>
                <input type="date" class="form-control" id="fechaIngreso" th:field="${lote.fecha_ingreso}" required>
                <div class="valid-feedback">¡Perfecto!</div>
            </div>
            <!-- <div class="col-md-6 mb-3">
                <label for="proveedor">Proveedor</label>
                <select id="proveedor" name="proveedor" class="form-control" th:field="${lote.proveedor.id_proveedor}" required>
                    <option disabled selected>Seleccione un Proveedor</option>
                    <option th:each="proveedor : ${proveedores}" th:value="${proveedor.id_proveedor}" th:text="${proveedor.nombre_proveedor}"></option>
                </select>
                <div class="valid-feedback">¡Perfecto!</div>
            </div> -->
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------- -->
<div th:replace="~{conten :: contentCategoria}">
    <div th:fragment="contentCategoria">
        <input type="hidden" name="categoria" th:field="${categoria.id_categoria}">
        <h4 class="header-title">DATOS DE CATEGORIA</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="categoria">Tipo de Categoria</label>
                <input type="text" class="form-control" name="categoria" th:field="${categoria.tipo_categoria}" placeholder="Tipo de Categoria" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
        </div>
    </div>
</div>

 <!-- ---------------------------------------------------------------------------------------------- -->
 <!-- <div th:fragment="contentFactura">
    <input type="hidden" name="id_factura" th:field="${factura.id_factura}">
    <h4 class="header-title">DATOS DE FACTURAS</h4>
    
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="numeroFactura">Número Factura</label>
            <input type="number" class="form-control" name="numeroFactura" th:field="${factura.nro_factura}" placeholder="Número Factura" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="descripcionFactura">Descripcion Factura</label>
            <input type="text" class="form-control" name="descripcionFactura" id="descripcionFactura" th:field="${factura.descripcion_factura}" placeholder="Descripcion Factura" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="fechaFactura">Fecha Factura</label>
            <input type="text" class="form-control" name="fechaFactura" id="fechaFactura" th:field="${factura.fecha_factura}" placeholder="Fecha Factura" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div> 
         <div class="col-md-4 mb-3">
            <label for="totalDescuento">Total Descuento</label>
            <input type="text" class="form-control" name="totalDescuento" id="totalDescuento" th:field="${factura.total_descuento}" placeholder="total_descuento" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="totalFactura">Total Factura</label>
            <input type="text" class="form-control" name="totalFactura" id="totalFactura" th:field="${factura.total_factura}" placeholder="Total Factura" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
</div> -->


 <!-- ---------------------------------------------------------------------------------------------- -->
 <div th:replace="~{conten :: contentFactura}">
    <div th:fragment="contentFactura">
        <input type="hidden" name="factura" th:field="${factura.id_factura}">
        <h4 class="header-title">DATOS DE FACTURA</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="factura">Número de Factura</label>
                <input type="number" class="form-control" name="factura" th:field="${factura.nro_factura}" placeholder="Numero Factura" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="factura">Descripción de Factura</label>
                <input type="text" class="form-control" name="factura" th:field="${factura.descripcion_factura}" placeholder="Descripción de Factura" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="factura">Fecha de Factura</label>
                <input type="date" class="form-control" name="factura" th:field="${factura.fecha_factura}" placeholder="Fecha de Factura" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="factura">Total de Descuento</label>
                <input type="number" class="form-control" name="factura" th:field="${factura.total_descuento}" placeholder="Total de Descuento" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="factura">Total de Factura</label>
                <input type="number" class="form-control" name="factura" th:field="${factura.total_factura}" placeholder="Total de Factura" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            
        </div>
    </div>
</div>
    </html>
