<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="contentPersona">
        <input type="hidden" name="Personas" th:field="${persona.idPersona}">
        <h4 class="header-title">DATOS DE PERSONAS</h4>
       
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Nombre</label>
                <input type="text" class="form-control" name="personas"
                    th:field="${persona.nombre_persona}" placeholder="Introduce el nombre" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Ap. Paterno</label>
                <input type="text" class="form-control" name="personas" id="validationCustom02" th:field="${persona.apellido_paterno}"
                    placeholder="Apellido Paterno" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Ap. Materno</label>
                <input type="text" class="form-control" name="personas" id="validationCustom03"
                    th:field="${persona.apellido_materno}" placeholder="Apellido Materno" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Carnet de Identidad</label>
                <input type="text" class="form-control" name="personas" id="validationCustom04" th:field="${persona.ci}"
                    placeholder="Carnet de Identidad" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Numero de celular</label>
                <input type="number" class="form-control" name="personas" id="validationCustom04" th:field="${persona.numero_celular}"
                    placeholder="Numero de celular" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Dirección</label>
                <input type="text" class="form-control" name="personas" id="validationCustom04" th:field="${persona.direccion}"
                    placeholder="Introdusca la Dirección" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Correo Electronico</label>
                <input type="email" class="form-control" name="personas" id="validationCustom04" th:field="${persona.email}"
                    placeholder="Introducir el Correo Electronico" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


        </div>
    </div>

    <!-- ---------------------------------------------------------------------------------------------- -->
    <div th:fragment="contentProducto">
        <input type="hidden" name="idProducto" th:field="${producto.id_producto}">
        <h4 class="header-title">DATOS DE PRODUCTOS</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="nombreProducto">Nombre Producto</label>
                <input type="text" class="form-control" name="nombreProducto" th:field="${producto.nombre_producto}" placeholder="Nombre Producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="codigoProducto">Codigo Producto</label>
                <input type="text" class="form-control" name="codigoProducto" id="codigoProducto" th:field="${producto.codigo_producto}" placeholder="Codigo Producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="stockProducto">Estoque Producto</label>
                <input type="text" class="form-control" name="stockProducto" id="stockProducto" th:field="${producto.stock_producto}" placeholder="stock producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="cantidadCaja">Cantidad Cajas</label>
                <input type="text" class="form-control" name="cantidadCaja" id="cantidadCaja" th:field="${producto.cantidad_caja}" placeholder="cantidad caja" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="proveedor">Proveedor</label>
                <select id="proveedor" name="proveedor" class="form-control" th:field="${producto.proveedor.id_proveedor}" required>
                    <option value="" disabled selected>Seleccione un proveedor</option>
                    <option th:each="proveedor : ${proveedores}" th:value="${proveedor.id_proveedor}" th:text="${proveedor.nombre_proveedor}"></option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------------->
    <div th:fragment="contentFormaPago">
        <input type="hidden" name="id_forma_pago" th:field="${forma_pago.id_forma_pago}">
        <h4 class="header-title">DATOS DE PRODUCTOS</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="forma_pago">Forma de Pago</label>
                <input type="text" class="form-control" name="forma_pago" th:field="${forma_pago.forma_pago}" placeholder="Forma de Pago" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="codigoProducto">Monto de Pago</label>
                <input type="text" class="form-control" name="monto" id="forma_pago" th:field="${forma_pago.monto}" placeholder="Monto del Pago" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div>

     <!-- ---------------------------------------------------------------------------------------------- -->
     <div th:fragment="contentMoneda">
        <input type="hidden" name="id_moneda" th:field="${moneda.id_moneda}">
        <h4 class="header-title">DATOS DE MONEDAS</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="nombreMoneda">Nombre Moneda</label>
                <input type="text" class="form-control" name="nombreMoneda" th:field="${moneda.nombre_moneda}" placeholder="Nombre Moneda" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="simboloMoneda">Símbolo de la Moneda</label>
                <input type="text" class="form-control" name="simboloMoneda" id="simboloMoneda" th:field="${moneda.simbolo_moneda}" placeholder="Simbolo Moneda, ej:US$, R$, Bs" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="valorMoneda">Valor Moneda</label>
                <input type="text" class="form-control" name="valorMoneda" id="valorMoneda" th:field="${moneda.valor_moneda}" placeholder="Valor de la Moneda" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- <div class="col-md-4 mb-3">
                <label for="tipoCambio">tipoCambio</label>
                <select id="tipoCambio" name="tipoCambio" class="form-control" th:field="${tipoCambio.tipoCambio.id_tipo_cambio}" required>
                    <option value="" disabled selected>Seleccione un tipo de cambio</option>
                    <option th:each="tipoCambio : ${tipoCambios}" th:value="${tipoCambio.id_tipo_cambio}" th:text="${tipoCambio.valor_tipo_cambio}"></option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
        </div>
    </div>
    </html>