<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="contentPersona">
        <input type="hidden" name="Personas" th:field="${persona.id_persona}">
        <h4 class="header-title">DATOS DE PERSONAS</h4>
       
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Nombre</label>
                <input type="text" class="form-control" name="personas"
                    th:field="${persona.nombre_persona}" placeholder="Introduce el nombre" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Ap. Paterno</label>
                <input type="text" class="form-control" name="personas" id="validationCustom02" th:field="${persona.apellido_paterno}"
                    placeholder="Apellido Paterno" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Ap. Materno</label>
                <input type="text" class="form-control" name="personas" id="validationCustom03"
                    th:field="${persona.apellido_materno}" placeholder="Apellido Materno" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Carnet de Identidad</label>
                <input type="text" class="form-control" name="personas" id="validationCustom04" th:field="${persona.ci}"
                    placeholder="Carnet de Identidad" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Numero de celular</label>
                <input type="number" class="form-control" name="personas" id="validationCustom04" th:field="${persona.numero_celular}"
                    placeholder="Numero de celular" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Dirección</label>
                <input type="email" class="form-control" name="personas" id="validationCustom04" th:field="${persona.direccion}"
                    placeholder="Introdusca la Dirección" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <label for="validationCustom04">Correo Electronico</label>
                <input type="email" class="form-control" name="personas" id="validationCustom04" th:field="${persona.email}"
                    placeholder="Introducir el Correo Electronico" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


        </div>
    </div>

    <!-- ---------------------------------------------------------------------------------------------- -->
    <div th:fragment="contentProducto">
        <input type="hidden" name="idProducto" th:field="${producto.id_producto}">
        <h4 class="header-title">DATOS DE PRODUCTOS</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="nombreProducto">Nombre Producto</label>
                <input type="text" class="form-control" name="nombreProducto" th:field="${producto.nombre_producto}" placeholder="Nombre Producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="codigoProducto">Codigo Producto</label>
                <input type="text" class="form-control" name="codigoProducto" id="codigoProducto" th:field="${producto.codigo_producto}" placeholder="Codigo Producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="stockProducto">Estoque Producto</label>
                <input type="text" class="form-control" name="stockProducto" id="stockProducto" th:field="${producto.stock_producto}" placeholder="stock producto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="cantidadCaja">Cantidad Cajas</label>
                <input type="text" class="form-control" name="cantidadCaja" id="cantidadCaja" th:field="${producto.cantidad_caja}" placeholder="cantidad caja" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="proveedor">Proveedor</label>
                <select id="proveedor" name="proveedor" class="form-control" th:field="${producto.proveedor.id_proveedor}" required>
                    <option value="" disabled selected>Seleccione un proveedor</option>
                    <option th:each="proveedor : ${proveedores}" th:value="${proveedor.id_proveedor}" th:text="${proveedor.nombre_proveedor}"></option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div>
    
<!-- ---------------------------------------------------------------------------------------------- -->
<div th:fragment="contentRecepcionProducto">
    <input type="hidden" name="id_registro" th:field="${recepcion_producto.id_registro}">
    <h4 class="header-title">DATOS DE RECEPCIÓN</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreProducto">Precio producto</label>
            <input type="number" class="form-control" name="nombreProducto" th:field="${recepcion_producto.precio_producto}" placeholder="Cantidad caja" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="codigoProducto">Cantidad caja</label>
            <input type="number" class="form-control" name="codigoProducto" id="codigoProducto" th:field="${recepcion_producto.cantidad_caja}" placeholder="Cantidad caja" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="stockProducto">Precio venta</label>
            <input type="number" class="form-control" name="stockProducto" id="stockProducto" th:field="${recepcion_producto.precio_venta}" placeholder="Precio venta" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="proveedor">Lote</label>
            <select id="proveedor" name="proveedor" class="form-control" th:field="${recepcion_producto.lote.id_lote}" required>
                <option disabled selected>Seleccione un Lote</option>
                <option th:each="lots : ${lotes}" th:value="${lots.id_lote}" th:text="${lots.cantidad_Lote}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>


    </div>
</div>
   <!-- ---------------------------------------------------------------------------------------------- -->
   <div th:fragment="contentBiene">
    <input type="hidden" name="biene" th:field="${biene.id_biene}">
    <h4 class="header-title">DATOS DE BIENE</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreProducto">Codigo</label>
            <input type="text" class="form-control" name="codigo" th:field="${biene.codigo_biene}" placeholder="Codigo" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="codigoProducto">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre_biene" th:field="${biene.nombre_biene}" placeholder="Nombre" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="stockProducto">Descripción</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion" th:field="${biene.descripcion_biene}" placeholder="Descripcion" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <!-- <div class="col-md-6 mb-3">
            <label for="persona">Eleccionar Persona</label>
            <select id="persona" name="persona" class="form-control" th:field="${biene.persona.id_persona}" required>
                <option disabled selected>Seleccione un proveedor</option>
                <option th:each="pers : ${personas}" th:value="${pers.id_persona}" th:text="${pers.nombre_persona}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div> -->

    </div>
</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<div th:fragment="contentCargo">
    <input type="hidden" name="id_cargo" th:field="${cargo.id_cargo}">
    <h4 class="header-title">DATOS DE CARGO</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreProducto">Nombre</label>
            <input type="text" class="form-control" name="nombreCargo" th:field="${cargo.nombre_cargo}" placeholder="Nombre del cargo" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>
</div>


     <!-- ---------------------------------------------------------------------------------------------- -->
     <div th:fragment="contentMoneda">
        <input type="hidden" name="id_moneda" th:field="${moneda.id_moneda}">
        <h4 class="header-title">DATOS DE MONEDAS</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="nombreMoneda">Nombre Moneda</label>
                <input type="text" class="form-control" name="nombreMoneda" th:field="${moneda.nombre_moneda}" placeholder="Nombre Moneda" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="simboloMoneda">Símbolo de la Moneda</label>
                <input type="text" class="form-control" name="simboloMoneda" id="simboloMoneda" th:field="${moneda.simbolo_moneda}" placeholder="Simbolo Moneda, ej:US$, R$, Bs" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="valorMoneda">Valor Moneda</label>
                <input type="text" class="form-control" name="valorMoneda" id="valorMoneda" th:field="${moneda.valor_moneda}" placeholder="Valor de la Moneda" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div>

       <!-- ---------------------------------------------------------------------------------------------- -->
       <div th:fragment="contentPago">
        <input type="hidden" name="id_pago" th:field="${pago.id_pago}">
        <h4 class="header-title">DATOS DE PAGO</h4>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="tipoPago">Tipo de Pago</label>
                <input type="text" class="form-control" name="tipoPago" th:field="${pago.Tipo_pago}" placeholder="Ej: A crédito, contado..." required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
             <div class="col-md-4 mb-3">
            <label for="venta">Venta Asociada</label>
            <select id="venta" name="venta" class="form-control" th:field="${pago.venta.id_venta}" required>
                <option value="" disabled selected>Seleccione una Venta</option>
                <option th:each="venta : ${ventas}" th:value="${venta.id_venta}" th:text="${venta.total_venta}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="moneda">Moneda Aplicada</label>
            <select id="moneda" name="moneda" class="form-control" th:field="${pago.moneda.id_moneda}" required>
                <option value="" disabled selected>Seleccione la Moneda</option>
                <option th:each="moneda : ${monedas}" th:value="${moneda.id_moneda}" th:text="${moneda.valor_moneda}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        </div>
    </div>
    
<!-- ---------------------------------------------------------------------------------------------- -->
<div th:replace="~{conten :: contentLote}">
    <div th:fragment="contentLote">
        <input type="hidden" name="lote" th:field="${lote.id_lote}">
        <h4 class="header-title">DATOS DE LOTE</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cantidadLote">Cantidad Lote</label>
                <input type="text" class="form-control" name="cantidadLote" th:field="${lote.cantidad_Lote}" placeholder="Cantidad Lote" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="fechaIngreso">Fecha de Ingreso</label>
                <input type="date" class="form-control" id="fechaIngreso" th:field="${lote.fecha_ingreso}" required>
                <div class="valid-feedback">¡Perfecto!</div>
            </div>
            <!-- <div class="col-md-6 mb-3">
                <label for="proveedor">Proveedor</label>
                <select id="proveedor" name="proveedor" class="form-control" th:field="${lote.proveedor.id_proveedor}" required>
                    <option disabled selected>Seleccione un Proveedor</option>
                    <option th:each="proveedor : ${proveedores}" th:value="${proveedor.id_proveedor}" th:text="${proveedor.nombre_proveedor}"></option>
                </select>
                <div class="valid-feedback">¡Perfecto!</div>
            </div> -->
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------- -->
<div th:replace="~{conten :: contentCategoria}">
    <div th:fragment="contentCategoria">
        <input type="hidden" name="categoria" th:field="${categoria.id_categoria}">
        <h4 class="header-title">DATOS DE CATEGORIA</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="categoria">Tipo de Categoria</label>
                <input type="text" class="form-control" name="categoria" th:field="${categoria.tipo_categoria}" placeholder="Tipo de Categoria" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
        </div>
    </div>
</div>


 <!-- ---------------------------------------------------------------------------------------------- -->
 <div th:replace="~{conten :: contentFactura}">
    <div th:fragment="contentFactura">
        <input type="hidden" name="factura" th:field="${factura.id_factura}">
        <h4 class="header-title">DATOS DE FACTURA</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="factura">Número de Factura</label>
                <input type="number" class="form-control" name="factura" th:field="${factura.nro_factura}" placeholder="Numero Factura" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="factura">Descripción de Factura</label>
                <input type="text" class="form-control" name="factura" th:field="${factura.descripcion_factura}" placeholder="Descripción de Factura" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="factura">Fecha de Factura</label>
                <input type="date" class="form-control" name="factura" th:field="${factura.fecha_factura}" placeholder="Fecha de Factura" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="factura">Total de Descuento</label>
                <input type="number" class="form-control" name="factura" th:field="${factura.total_descuento}" placeholder="Total de Descuento" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="factura">Total de Factura</label>
                <input type="number" class="form-control" name="factura" th:field="${factura.total_factura}" placeholder="Total de Factura" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------- -->
    <div th:fragment="contentVenta1">
        <input type="hidden" name="venta" th:field="${venta.id_venta}">
        <h4 class="header-title">DATOS DE VENTAS</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="venta">Número de Venta</label>
                <input type="number" class="form-control" name="venta" th:field="${venta.nro_venta}" placeholder="Numero de Venta" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="venta">Total Venta</label>
                <input type="number" class="form-control" name="venta" th:field="${venta.total_venta}" placeholder="Total Venta" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="venta">Fecha Venta</label>
                <input type="date" class="form-control" name="venta" th:field="${venta.fecha_venta}" placeholder="Fecha Venta" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="venta">Total de Descuento</label>
                <input type="number" class="form-control" name="venta" th:field="${venta.descuento}" placeholder="Total de Descuento" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
          
            <!-- <div class="col-md-4 mb-3">
                <label for="producto">Producto</label>
                <select id="producto" name="producto" class="form-control" th:field="${venta.producto.id_producto}" required>
                    <option value="" disabled selected>Seleccione un producto</option>
                    <option th:each="producto : ${productos}" th:value="${producto.id_producto}" th:text="${producto.nombre_producto}"></option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
        </div>
    </div>
 
  <!-- ---------------------------------------------------------------------------------------------- -->
<div th:fragment="contentDet_Venta">
    <input type="hidden" name="id_detalleVenta" th:field="${det_Venta.id_detalleVenta}">
    <h4 class="header-title">DATOS DE DETALLES DE VENTA</h4>

    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="nombreProducto">CANTIDAD</label>
            <input type="text" class="form-control" name="cantidad_det_venta" th:field="${det_Venta.cantidad_det_venta}" placeholder="Cantidad de la venta" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="nombreProducto">SUBTOTAL</label>
            <input type="text" class="form-control" name="sub_total" th:field="${det_Venta.sub_total}" placeholder="SubToral de la venta" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="nombreProducto">SUBTOTAL DESCUENTO</label>
            <input type="text" class="form-control" name="sub_total_descuento" th:field="${det_Venta.sub_total_descuento}" placeholder="SubToral de la venta" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

            <div class="col-md-4 mb-3">
                <label for="producto">UNIDAD DE MEDIDA</label>
                <select id="unidad_medida" name="unidad_medida" class="form-control" th:field="${det_Venta.unidad_medida}" required>
                    <option value="" disabled selected>PESO</option>
                    <option value="Gramos(g)"  >Gramos</option>
                    <option value="Kilogramos(kg)" >Kilogramos</option>
                    <option value="Onzas(oz)" >Onzas</option>
                    <option value="Libras(lb)" >Libras</option>
                    <option value="" disabled selected>VOLUMEN</option> 
                    <option value="Litros(L)"  >Litros</option>
                    <option value="Mililitros(mL)" >Mililitros</option>
                    <option value="Galones(gal)" >Galones</option>
                    <option value="Pintas(pt)" >Pintas</option>

                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>  

    <div class="col-md-4 mb-3">
        <label for="usuario">Ventas</label>
        <select id="usuario" name="venta" class="form-control" th:field="${det_Venta.venta.id_venta}" required>
            <option value="" disabled selected>Seleccione el numero de venta</option>
            <option th:each="venta : ${ventas}" th:value="${venta.id_venta}" th:text="${venta.nro_venta}"></option>
        </select>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

</div>
</div>
<!-- -- ---------------------------------- -->
<div th:fragment="contentproveedor">
    <input type="hidden" name="id_proveedor" th:field="${proveedor.id_proveedor}">
    <h4 class="header-title">DATOS DE PROVEEDOR</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreProducto">nombre Proveedor</label>
            <input type="text" class="form-control" name="nombreCargo" th:field="${proveedor.nombre_proveedor}" placeholder="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="nombreProducto">telefono</label>
            <input type="number" class="form-control" name="telefonoProveedor" th:field="${proveedor.telefono_proveedor}" placeholder="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="nombreProducto">descripcion</label>
            <input type="text" class="form-control" name="descripcionProveedor" th:field="${proveedor.descripcion_proveedor}" placeholder="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>

</div>

<!-- ---------------------------------------------------------------------------------------------- -->
<div th:fragment="contentEmpleado">
    <input type="hidden" name="id_empleado" th:field="${empleado.id_empleado}">
    <h4 class="header-title">DATOS DE EMPLEADO</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreProducto">Ruta</label>
            <input type="number" class="form-control" name="ruta_empleado" th:field="${empleado.ruta_empleado}" placeholder="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="nombreProducto">Codigo</label>
            <input type="number" class="form-control" name="nro_codigo" th:field="${empleado.nro_codigo}" placeholder="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>


</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<div th:fragment="contentUs">
    <input type="hidden" name="id_usuario" th:field="${usuario.id_usuario}">
    <h4 class="header-title">DATOS DE USUARIO</h4>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nombreUs">Numero Usuario</label>
            <input type="number" class="form-control" name="usuario" th:field="${usuario.usuario}" placeholder="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="contrasena">Contraseña</label>
            <input type="text" class="form-control" name="contrasena" th:field="${usuario.contrasena}" placeholder="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>


</div>

<!-- ------------------------------------------------------------------------ -->

<div th:fragment="contentCliente">
    <input type="hidden" name="id_cliente" th:field="${cliente.id_cliente}">
    <h4 class="header-title">DATOS DE CLIENTE</h4>
    
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="nro_nit">Numero NIT</label>
            <input type="number" class="form-control" name="nro_nit" th:field="${cliente.nro_nit}"  required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="nro_codigo">Numero Codigo</label>
            <input type="number" class="form-control" name="nro_codigo" th:field="${cliente.nro_codigo}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="producto">Tipo</label>
            <select id="unidad_medida" name="tipo_cliente" class="form-control" th:field="${cliente.tipo_cliente}" required>
                <option value="" disabled selected>Seleccionar Tipo Cliente</option>
                <option value="Mayorista"  >Mayorista</option>
                <option value="Minorista" >Minorista</option>

            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>  

        <div class="col-md-4 mb-3">
            <label for="razon_social">Razon Social</label>
            <input type="text" class="form-control" name="razon_social" th:field="${cliente.razon_social}"  required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="contacto_cliente">Contacto</label>
            <input type="text" class="form-control" name="contacto_cliente" th:field="${cliente.contacto_cliente}"  required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="id_persona">Persona</label>
            <select id="id_persona" name="id_persona" class="form-control" th:field="${cliente.persona.id_persona}" required>
                <option value="" disabled selected>Seleccione el CI</option>
                <option th:each="persona : ${personas}" th:value="${persona.id_persona}" th:text="${persona.ci}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="id_ruta">Ruta</label>
            <select id="id_ruta" name="id_ruta" class="form-control" th:field="${cliente.ruta.id_ruta}" required>
                <option value="" disabled selected>Seleccione el Numero de Ruta</option>
                <option th:each="ruta : ${rutas}" th:value="${ruta.id_ruta}" th:text="${ruta.nro_ruta}"></option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>
</div>
<!-- ---------------- -->

<div th:fragment="contentDetalle_lote">
    <input type="hidden" name="id_detalle_lote" th:field="${detalle_lote.id_detalle_lote}">
    <h4 class="header-title">DATOS DE Detalle Lote</h4>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="fecha_vencimento">Fecha de Vencimiento</label>
            <input type="date" name="fecha_vencimento"  th:field="${detalle_lote.fecha_vencimento}" placeholder="yyyy-MM-dd" id="customDateInput"
            class="form-control datepicker-here" data-language="en" required>
                        <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------- -->
<div th:fragment="contentTipoBiene">
    <input type="hidden" name="id_tipo_biene" th:field="${tipoBiene.id_tipo_biene}">
    <h4 class="header-title">DATOS DE TIPO BIENE</h4>

    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="nombreTipoBiene">Nombre tipo biene</label>
            <input type="text" class="form-control" name="nombre_tipo_biene" th:field="${tipoBiene.nombre_tipo_biene}" placeholder="Nombre del tipo biene" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    <div class="col-md-4 mb-3">
        <label for="usuario">Biene</label>
        <select id="usuario" name="biene" class="form-control" th:field="${tipoBiene.biene.id_biene}" required>
            <option value="" disabled selected>Seleccione el codigo del biene</option>
            <option th:each="biene : ${bienes}" th:value="${biene.id_biene}" th:text="${biene.codigo_biene}"></option>
        </select>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
</div>

</div>



    </html>
